<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="{% static 'css/pico.fuchsia.min.css' %}"
      defer
    />
    <link
      rel="stylesheet"
      href="{% static 'css/pico.colors.min.css' %}"
      defer
    />
    <link
      rel="stylesheet"
      href="{% static 'css/app.css' %}"
      defer
    />
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/_hyperscript.min.js' %}" defer></script>
    <title>Daily Tasks</title>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <main class="container">
      {% block nav %}
      <nav>
        <ul>
          <li><strong>Todomir</strong></li>
        </ul>
        <ul>
          <li>
            <a
              href="/cat"
              hx-get="/cat"
              hx-target="#content-container"
              hx-swap="innerHTML"
              hx-indicator="#loading"
              hx-push-url="true"
              >🐈</a
            >
          </li>
          <li>
            <a
              href="/"
              hx-get="/"
              hx-target="#content-container"
              hx-swap="innerHTML"
              hx-indicator="#loading"
              hx-push-url="true"
              >Daily tasks</a
            >
          </li>
          <li>
            <a
              href="/schedules"
              hx-get="/schedules"
              hx-target="#content-container"
              hx-swap="innerHTML"
              hx-indicator="#loading"
              hx-push-url="true"
              >Schedules</a
            >
          </li>
          <li>
            <a
              href="/shopping-list"
              hx-get="/shopping-list"
              hx-target="#content-container"
              hx-swap="innerHTML"
              hx-indicator="#loading"
              hx-push-url="true"
              >Shopping List</a
            >
          </li>
        </ul>
      </nav>
      <progress id="loading" class="htmx-indicator"></progress>
      {% endblock %}
      <div id="content-container">
      {% block content %} 
      {% endblock %}
      </div>
    </main>
  </body>
</html>
